# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Virtual environment
env/
venv/
.venv/
ENV/
env.bak/
*.env

# Installed dependencies
*.egg-info/
*.eggs/
*.pyo
*.pyd
*.whl
pip-wheel-metadata/

# mkdocs build files
site/
*.lock

# Logs and database
*.log
*.sqlite3

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
coverage.xml
nosetests.xml
*.cover

# CairoSVG dependencies
cairosvg/

# macOS files
.DS_Store

# cache
*.cache

# ide
.idea
